<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form card login with validation	feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Wishlist</h3>
				</div>
				<div class="card-body">
					<!--Llamando a form destino viaje-->
					<app-form-destino-viaje (onItemAdded)="add($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>
	<hr	class="mb-5">
	<div class="row">
		<app-destino-viaje
			*ngFor="let d of all; let i=index" 
			[destination]="d"
			[idx]="i+1"
			(clicked)="selected(d)"
			appEspiame>
		</app-destino-viaje>
	</div>

	<hr	class="mb-5">
	<div class="row">
		<h5>Actividad</h5>
		<ul #actividades>
			<li *ngFor="let u of updates;">{{u}}</li>
		</ul>
	</div>
</div>
